@import "tailwindcss";

@theme {
  --color-blue: #155dfc;

  --color-bg: #f5f7fb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-primary: #684ae3;

  --color-dark-bg: #060912;
  --color-dark-surface: #070b25;
  --color-dark-border: #2a2f3a;
  --color-dark-text: #f3f4f6;
  --color-dark-muted: #9ca3af;
  --color-dark-primary: #684ae3;

  --breakpoint-2xl: 1320px;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    @apply tracking-wider text-text dark:text-dark-text;
  }
  .container {
    max-width: 1320px !important;
    margin-left: auto;
    margin-right: auto;
    @apply px-6 lg:px-8;
  }
  h1 {
    @apply text-5xl font-extrabold leading-12;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-base leading-relaxed;
  }
  h4 {
    @apply text-xl font-semibold mb-2;
  }
  h5 {
    @apply tracking-wide font-semibold text-xs uppercase mb-1;
  }
  h6 {
    @apply text-base font-semibold mb-3 tracking-normal;
  }
  .card {
    @apply bg-surface dark:bg-dark-surface;
  }
  .border-default {
    @apply border-border dark:border-dark-border;
  }
  .bg--surface {
    @apply bg-surface dark:bg-dark-surface;
  }
  .bg--muted {
    @apply bg-muted dark:bg-dark-muted;
  }
  .t-primary {
    @apply text-primary dark:text-dark-primary;
  }
  .muted {
    @apply text-muted dark:text-dark-muted;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;

  &.dark {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-text);
  }
}

section {
  scroll-margin-top: 73px;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
